{% extends "base.html" %}
{% load static %}
{% block extra_css %}
{% endblock %}

{% block page_header %}
   <div class="container header-container">
        <div class="row">
            <div class="col-md-12 text-center m-3">
                <h2>Men Size Guide</h2>
                <hr class="home-page-heading-hr-top mb-4">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <table class="table table-responsive-sm">
            <thead>
                <tr>
                <th class="text-center" scope="col">
                    SIZE
                </th>
                <th scope="col-sm-12">XS</th>
                <th scope="col">S</th>
                <th scope="col">M</th>
                <th scope="col">L</th>
                <th scope="col">XL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-center text-uppercase" scope="row">Dress<br>Length</th>
                    <td>22"</td>
                    <td>24"</td>
                    <td>26"</td>
                    <td>28"</td>
                    <td>30"</td>
                </tr>
                <tr>
                <th class="text-center text-uppercase" scope="row">Chest</th>
                <td>20"</td>
                <td>22"</td>
                <td>24"</td>
                <td>26"</td>
                <td>28"</td>
                </tr>
                <tr >
                <th class="text-center text-uppercase" scope="row">Waist</th>
                <td>18"</td>
                <td>20"</td>
                <td>24"</td>
                <td>26"</td>
                <td>32"</td>
                </tr>
                <tr>
                    <th class="text-center text-uppercase" scope="row">Trousers<br>Length</th>
                    <td>35"</td>
                    <td>37"</td>
                    <td>39"</td>
                    <td>40"</td>
                    <td>42"</td>
                </tr>
                 <tr >
                <th class="text-center text-uppercase" scope="row">Hip</th>
                <td>32"</td>
                <td>34"</td>
                <td>36"</td>
                <td>38"</td>
                <td>40"</td>
                </tr>
                 <tr >
                <th class="text-center text-uppercase" scope="row">Inseam</th>
                <td>20"</td>
                <td>22"</td>
                <td>24"</td>
                <td>26"</td>
                <td>28"</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
 </div>

{% endblock %}        
    
{% block extra_js %}  

{% endblock %}