<section class="mb-5 mt-5">
    <div class="container-fluid div-categories-cotainer-fluid">
        <div class="container categories-container" >
            <div class="row">           
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">                        
                        <h3 class="main-title-h3 mb-1">TOP SELECTIONS</h3>
                         <p class="text-white">Browse our finset products and categories, clothes that talk on you behalf.
                                Dive in, new cloth new passion.
                            </p>
                        <hr class="home-page-heading-hr-bottom">
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-2">
                                <div class="hovereffect">
                                    <img class="img-responsive" src="{{ category_1.image.url }}" alt="" width="100%" height="100%">
                                    <div class="overlay">
                                    <h2>{{ category_1.get_friendly_name }}</h2>
                                    <a class="info" href="{% url 'all_products' %}?category={{ category_1.name }}">Browse</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-2">
                                <div class="hovereffect">
                                    <img class="img-responsive" src="{{ category_2.image.url }}" alt="" width="100%" height="100%">
                                    <div class="overlay">
                                    <h2>{{ category_2.get_friendly_name }}</h2>
                                    <a class="info" href="{% url 'all_products' %}?category={{ category_2.name }}">Browse</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-2">
                                <div class="hovereffect">
                                    <img class="img-responsive" src="{{ category_3.image.url }}" alt="" width="100%" height="100%">
                                    <div class="overlay">
                                    <h2>{{ category_3.get_friendly_name }}</h2>
                                    <a class="info" href="{% url 'all_products' %}?category={{ category_3.name }}">Browse</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-2">
                                <div class="hovereffect">
                                    <img class="img-responsive" src="{{ category_4.image.url }}" alt="" width="100%" height="100%">
                                    <div class="overlay">
                                    <h2>{{ category_3.get_friendly_name }}</h2>
                                    <a class="info" href="{% url 'all_products' %}?category={{ category_3.name }}">Browse</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>         
                </div>     
            </div>
        </div>
    </div>
</section>
