<style>
.footer{
    background-color: #0A1A24;;
    margin-right: 0px;
    margin-left: 0px;
    height: 50%;
}
.footer-row{
   
}
</style>
<div class="container-fluid" style="background-color: #0A1A24; color: #fff;">
<div class="container" style="background-color: #0A1A24; color: #fff;">
    <h5>RR- Cloths</h5>
    <div class="row footer footer-row" style="background-color: #0A1A24; color: #fff;">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" >
            <h6 style="background-color:grey;">Top Locations</h6>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
           
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <h6 style="background-color:grey;">Featured Boats</h6>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
          
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <h6 style="background-color:grey;">Contact us</h6>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
         
        </div>
    </div>
</div>
</div>