<style>
    .happening-events-headings{
       -webkit-text-stroke: 2px black;
       
    }
    .happening-events-text-bg{
            
            padding: 5px;
            font-size: 32px;
    }
</style>

<section id="happening-events" class="happening-events-background mt-5">
    <div class="text-center mt-4 happening-events-custom-container"> 
        <div class="happening-events-text-bg">
            <h3 class="happening-events-headings text-uppercase p-1" style="background-color: rgba(255,255,255,0.5);">Fashion Clothes</h3>
            <h3 class="happening-events-headings text-uppercase p-1" style="background-color: rgba(255,255,255,.5);">Available at stores</h3>
            <a href="#happening-events-map" class="btn btn-lg primary-button" >Store Loactions</a>
        </div>
    </div>
</section>