<style>
    .happening-events-headings{
       -webkit-text-stroke: 2px black;
       
    }
    .happening-events-text-bg{
            
            padding: 5px;
            font-size: 32px;
    }
</style>

<section id="happening-events" class="happening-events-background mt-5">
    <div class="text-center mt-4 happening-events-custom-container"> 
        <div class="happening-events-text-bg">
            <h1 class="happening-events-headings" style="background-color: rgba(255,255,255,0.5);">Modelling Events</h1>
            <h2 class="happening-events-headings" style="background-color: rgba(255,255,255,.5);">Fashion Week</h2>
            <a href="#happening-events-map" class="btn btn-lg primary-button" >Click to know</a>
        </div>
    </div>
</section>