<section id="happening-events" class="happening-events-background mt-5">
    <div class="text-center mt-4 happening-events-custom-container"> 
        <div class="happening-events-text-bg">
            <h3 class="happening-events-headings text-uppercase p-1">Fashion Clothes</h3>
            <h3 class="happening-events-headings text-uppercase p-1">Available at stores</h3>
            <a href="#happening-events-map" class="btn btn-lg primary-button" >Store Locations</a>
        </div>
    </div>
</section>