<section id="happening-events-map">
    <div class="container-fluid">
        <div class="row map-row">
            <div class="col-sm-12 map-col text-center">
                <h3 class="mt-3"><i class="fas fa-map-pin"></i> STORE LOCATIONS</h3>
                <p>Look out for store locations</p>
                <hr class="home-page-heading-hr-bottom">
            </div>
        </div>
        <div class="row">            
            <div class="col-sm-12 p-0 m-0">
                <div id="map"></div>
            </div>
        </div>
        <div class="row map-row" style="height: 20px">
        
        </div>
    </div>
</section>
{% block extra_js %}    
  <script>
        
    </script>
    
{% endblock %}