<section id="explore-new-trend-section" class="slider mt-5">
    <div class="container center-styling"> 
        <div class="row center-styling-row justify-content-center">
            <div class="col-sm-12">
                <h2 class="text-center">EPLORE NEW TRENDS </h2>
                <p class="mt-1 p-3 text-center">The lastest women's street style fashion trends 
                from Paris, Milan, New York, London and Pitti ... Here are the top accessories trends we'll wear in 2020. ... 
                dressing, find out here which 2016 fashion trends are "in" and "out" for the new year. top winter fashion trends
                in 2020 that you will keep you warm and stylish through the cooler months… From classic pieces with an updated twist 
                to fresh tailoring, these are the coolest fashion trends
                </p>
            </div>
            <div class="col-sm-12" style="padding: 0px;">
                <ul id="autoWidth" class="cs-hidden">
                {% for item in products_slider %}
                    <li class="item-a">
                        <div class="box  blah">            
                            <div class="slide-img">
                                <style>
                                    .blah{
                                        background: #000;                                        
                                    }
                                </style>
                                <img class="" src="{{ item.image.url }}" alt="" style="" >
                                <div class="overlay_for_product_slider">
                                    <a href="{% url 'product_detail' item.id %}" class="buy-btn">Buy Now</a>
                                </div>
                            </div>
                            <div class="detail-box">
                                <div class="type">
                                    <a href="" class="text-white">{{ item.title }}</a>
                                    <span class="text-white">{{ item.category }}</span>  
                                    <div class="product-rating">
                                        <small class="text-muted">
                                            <i class="fa fa-star{% if product.rate < 1%}-o empty{% endif%}"></i> 
                                            <i class="fa fa-star{% if product.rate < 2%}-o empty{% endif%}"></i> 
                                            <i class="fa fa-star{% if product.rate < 3%}-o empty{% endif%}"></i> 
                                            <i class="fa fa-star{% if product.rate < 4%}-o empty{% endif%}"></i> 
                                            <i class="fa fa-star{% if product.rate < 5%}-o empty{% endif%}"></i>
                                        </small>
                                        {{ product.avaregereview |stringformat:".2f"}}
                                    </div>                  
                                </div>
                                <a href="" class="price text-white" style="color: #dc3545">${{ item.price }}</a>
                            </div>                
                        </div>
                    </li>
                {% endfor %}                     
                </ul>
            </div>
        </div>
    </div>
</section> 