<section id="image-gallery" class="p-4 mt-4  mb-4 pb-4">
    <div class="container image-gallery mb-4">
        <div class="row">
            <div class="col-sm-12 explore-new-trends-heading-and-paragraph">
                <hr class="home-page-heading-hr-top">      
                <h3 class="text-center main-title-h3">SELECTED ITEMS</h3>
                <hr class="home-page-heading-hr-bottom"> 
            </div>
        </div>
    <div class="row mb-1">    
        <div class="col-sm-8 text-center">        
            <ul id="imageGallery">
                {% for image in images %}
                    <li data-thumb="{{ image.image.url }}" data-src="{{ image.image.url }}">
                        <img src="{{ image.image.url }}" height="200px"/>
                    </li>
                {% endfor %}
            </ul>
        </div>            
        <div class="col-sm-4">
            <div class="row" style="max-width: 300px;">
                <div class="col-sm-12 mt-2 col-centered">
                    <h6><i class="fas fa-tag mr-1 icons"></i> {{ product.category.friendly_name }}</h6>
                    <h6><i class="fas fa-tshirt icons"></i> {{ product.title }}</h6>                    
                    
                </div>
                <div class="col-sm-12 col-centered">                  
                    {% if product.variant == 'Size' %}
                        <p>Sizes are aviliable</p>
                    {% endif %}

                    {% if product.variant == 'Size-Color' %}
                        <p>Diffrent Size and colours are aviliable</p>
                    {% endif %}

                    {% if product.variant == 'Color' %}
                        <h6><i class="fas fa-palette icons"></i> Colours are available:</h6>
                 
                    <div class="color-div">
                        {% for variant in variants %}
                            <div id="circle" class="" style="background: {{ variant.color.code }};"></div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <span class="lead"><i class="material-icons icons">description</i>{{ product.description }}</span>
                    <h4>${{ product.price }}</h4>
                    </div>
                    
                <div class="col-sm-12 col-centered mt-2">       
                               
                    <a href="{% url 'product_detail' product.id %}" class="btn primary-button">View Product details</a>
                   
                </div>
            </div>
        </div>
    </div>        
    </div>
</section>
