/* h1 to h6 Headings */
.main-title-h3{
    background-color: #0A1A24; 
    color:#F4FFFD; margin:0px;
    padding: 0px;
}

.icons{
     Color:#0A1A24;
}
.icons:hover{
    Color:#006657;
}

/* Hero section */
#hero-section{
    
}
.hero-section{
    background: url('/media/fashion-1866574_1920.jpg') no-repeat center top;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #F4FFFD;
    font-family: 'Lato';
}

.search-box{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%)

}
.hero-h1{

    -webkit-text-stroke: 1px #0A1A24;
    -webkit-text-fill-color: #006657;
    letter-spacing: 2px;
}
  .hero-input[type="text"]
    {
        background: transparent;
        line-height: 5px;
        height: 60px;
        border: 1px solid #F4FFFD;
    }
    .hero-input::placeholder {
        color: #F4FFFD;
        font-size: 24px;
        background-color:rgba(0,0,0,0.1);
        height: 30px;
    }
    .hero-input::placeholder:hover {
        color: transparent;               
    }
    .hero-section-button{        
        background-color: #0A1A24;
        width: 250px;
        height: 60px;
        color: #F4FFFD;
        font-size: 16px;
        border: 1px solid #F4FFFD;
    
                            }
    .hero-section-button:hover{
        background-color: #006657;
        color: #F4FFFD;
    }
    .hero-input:focus {        
        font-size: 24px;
        color: #F4FFFD;
    }
    .hero-input:focus:hover{
        background-color:transparent;
    }
    
/* explore-new-trend-section-css/ index.html from line 31 */
/* this code is from https://www.goingtointernet.com/2020/08/responsive-e-commerce-product-slider.html */

a{
	text-decoration:none;
}
.box{
	width:320px; /*Late need to give media query here to make display better*/
	padding: 20px;
	border-radius: 0px;
	overflow: hidden;
	margin: 25px;

}
.slide-img{
	height: 450px;
	position:relative;
}
.slide-img img{
	width:100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}
.detail-box{
	width: 100%;
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;
    background:#0A1A24;
    border: 3px solid #006657; !important; 
    color: #F4FFFD;
}
.type{
	display: flex;
	flex-direction: column;
}
.type a{
	color:#222222;
	margin: 5px 0px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding-right: 8px;
}
.type span{
	color:rgba(26,26,26,0.5);
}
.price{
	color: #333333;
	font-weight: 600;
	font-size: 1.1rem;
	font-family: poppins;
	letter-spacing: 0.5px;
}
.overlay_for_product_slider{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:100%;
	height: 100%;
	background-color: rgba(92,95,236,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}
.buy-btn{
	width:160px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#0A1A24;
	color:#F4FFFD;
    border: 2px solid #006657;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: calibri;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.buy-btn:hover{
	color:#F4FFFD;
	background-color: #006657;
    border: 2px solid #0A1A24;
	transition: all ease 0.3s;

}
.overlay_for_product_slider{
	visibility: hidden;
}
.slide-img:hover .overlay_for_product_slider{
	visibility: visible;
	animation:fade 0.5s;
}
.product-slider-text-box{
  background-color: #0A1A24;
  color: #F4FFFD;
}
.explore-new-trends-heading-and-paragraph{
    color: #0A1A24; 
    padding: 12px;
}
.explore-new-trends-heading-and-paragraph h2{
    color: #0A1A24;
    font-size: 36px;
    letter-spacing: 3px;
}

/* discount jumbotron */

.discount-background{
    background-image: url('/media/beautiful-1869208_1920.jpg');
    height: 85vh;
    /*width: 100%;*/
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 100px;
    border-radius: 0px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: 50px;
    border: 10px solid #006657;
}

.home-page-heading-hr-top{
    height: 2px; 
    background-color: #006657; 
    margin-bottom:2px; 
    padding: 0px;
}
.home-page-heading-hr-bottom{
    height: 2px;
    background-color: #006657; 
    margin-top:2px; 
    padding: 0px;
}
/* Image Gallery Section */

/* For drawing colour circles */
.color-div{
    padding: 5px;
}
#circle {                            
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: inline-block;
        text-align: left !important;
        border: 2px solid #0A1A24;
    }

    #circle:hover{
        border: 2px solid#006657;
  
}
.image-gallery{
            padding: 20px;
        }
.product-small-img img
{
    height: 92px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: 0.6;
}
.product-small-img img:hover
{
    opacity: 9;
}
.product-small-img
{
    float: left;
}

#full-image{    
    height: 500px;
}