{% extends "base.html" %}
{% load static %}
{% block extra_css %}
 <!--This code is from http://sachinchoolur.github.io/lightslider/examples.html-->
    <link rel="stylesheet" href="{% static 'css/lightslider.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container mt-5">
        <div class="row mt-2">
            <div class="col mt-2">
                <h1>Shopping Bag</h1>
                <p>{{ bag_items }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}



{% endblock %}
{% block extra_js %}

{% endblock %}