<section id="discount-jumbotron p-3" >
        <div class="container-fluid">   
            <div class="row align-items-center discount-background">
                <div class="col-sm-4 col-md-6">
                    <h1 class="display-4">Get 30% OFF Discount </h1>
                    <p class="lead d-none d-lg-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis 
                    tenetur omnis facilis debitis delectus esse, exercitationem consequuntur est expedita 
                    eius maiores facere, voluptatibus nostrum provident eaque autem laudantium accusamus! 
                    Assumenda saepe dolore at magni delectus, eaque vero accusantium aliquam explicabo in 
                    aspernatur enim dolorem doloribus laboriosam voluptate, cum minus quidem.</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">CHECKOUT NOW</a>
                </div>
            </div>
        </div>
</section>