<section>
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Explore Different Categories</h1>
                <p class="mt-1 p-3 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur maiores, 
                    magni eaque fugit nam accusantium earum eos, commodi odit eveniet quibusdam impedi
                </p>
                <hr>
            </div>
            <div class="col-sm-4">
                <div class="card bg-dark text-black">
                    <img src="{{ latest_product_1.image.url }}" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title">{{ latest_product_1.title }}</h5>
                        <p class="card-text">{{ latest_product_1.description }}</p>
                        <p class="card-text">${{ latest_product_1.price }}</p>                                          
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-primary">Product details</a>
                    </div>
                </div>
            </div>
            <div class="col sm-7">
                <div class="row">
                    <div class="col-sm-6 mb-1">
                        <div class="card bg-dark text-black">
                            <img src="{{ latest_product_2.image.url }}" class="card-img" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title">{{ latest_product_2.title }}</h5>
                                <p class="card-text">{{ latest_product_2.description }}</p>
                                <p class="card-text">${{ latest_product_3.price }}</p>                                          
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-primary">Product details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card bg-dark text-black">
                            <img src="{{ latest_product_3.image.url }}" class="card-img" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title">{{ latest_product_3.title }}</h5>
                                <p class="card-text">{{ latest_product_3.description }}</p>
                                <p class="card-text">${{ latest_product_3.price }}</p>                                          
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-primary">Product details</a>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="row">
                    <div class="col-sm-6 ">
                        <div class="card bg-dark text-black">
                            <img src="{{ latest_product_4.image.url }}" class=" img-fluid" height="auto" width="100%" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title">{{ latest_product_4.title }}</h5>
                                <p class="card-text">{{ latest_product_4.description }}</p>
                                <p class="card-text">${{ latest_product_4.price }}</p>                                          
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-primary">Product details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card bg-dark text-black">
                            <img src="{{ latest_product_5.image.url }}" class="card-img" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title">{{ latest_product_5.title }}</h5>
                                <p class="card-text">{{ latest_product_5.description }}</p>
                                <p class="card-text">${{ latest_product_5.price }}</p>                                          
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-primary">Product details</a>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</section>