<section>
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Explore Different Categories</h1>
                <p class="mt-1 p-3 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur maiores, 
                    magni eaque fugit nam accusantium earum eos, commodi odit eveniet quibusdam impedi
                </p>
                <hr>
            </div>
            {% for category in categories %}
            <div class="col-sm-4 mt-4">
                <div class="card bg-dark text-black">
                    <img src="{{ category.image.url }}" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title">{{ category.name }}</h5>                                         
                        <a href="" class="btn btn-sm btn-primary">View Collection</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</section>