<section id="hero-section" >
    <div class="hero-section">
        <div class="col-md-6 col-lg-6 col-11 mx-auto my-auto search-box">
            <h1 class="display-1 logo-font text-white text-center mb-5">
                R-Ryan Cloth
            </h1>
             <script>
                $(function() {
                    $("#q").autocomplete({
                        source: "{% url 'search_auto' %}",
                        select: function (event, ui) { //item selected
                            AutoCompleteSelectHandler(event, ui)
                        },
                        minLength: 2,
                    });
                });
                function AutoCompleteSelectHandler(event, ui)
                {
                    var selectedObj = ui.item;
                    console.log("selectedObj")
                }
            </script>
            <form method="GET" action="{% url 'all_products' %}">
                <div class="input-group form-contianer mt-5">
                    <input type="text" id="q" name="q" class="form-control search-input" placeholder="search" autofocus autocomplete="off">
                    <button class="btn btn-danger">Search</button>
                </div>
            </form>
        </div>
    </div>
</section>

