<style>
.map-hr{
    height: 20px;
    color:  #000;
}
.map-row{
    margin-right: 0px;
    margin-left: 0px;
    background-color: #000;
}
.map-col {
    background-color: #000;
    color: #fff;
    
}
</style>
<section id="happening-events-map" class="mb-5" style="">
    <div class="container">
        <div class="row map-row">
            <div class="col-sm-12 map-col text-center">
                <h1 class="mt-5">Map</h1>
                <p>Following are the locations where our fashion events are happening</p>
                <hr class="map-hr">
            </div>
        </div>
        <div class="row">            
            <div class="col-sm-12">
                <div id="map" style="height:50vh !important;"></div>
            </div>
        </div>
        <div class="row map-row mb-5" style="height: 40px">
        
        </div>
    </div>
</section>
{% block extra_js %}    
  <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 8,
                center: {
                    lat: 40.785091,
                    lng: -73.974245
                }
            });

            var labels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            var locations = [
                {lat: 40.785091, lng: -73.974285},
                {lat: 40.785045, lng: -73.974245},
                { lat: 40.785932, lng: -73.974016}
            ];

            var markers = locations.map(function(location, i){
                return new google.maps.Marker({
                    position: location,
                    label: labels[i % labels.length],
                
                });
            });
            var markerCluster = new MarkerClusterer(map, markers, {
                imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
            });
        }
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdGYP5F_bOWAQp1hyjCA5kNKvYUU57fvw"></script>
    
{% endblock %}