<style>
.footer{
    background-color: #fff;
    margin-right: 0px;
    margin-left: 0px;
    height: 25vh;
}
.footer-row{
   
}
</style>
<div class="container-fluid"style="background-color: #fff; ">
<div class="container" >
    <div class="row footer footer-row pt-5">
        <div class="col-sm-3">
            <h6>Top Locations</h6>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
           
        </div>
        <div class="col-sm-3">
            <h6>Featured Boats</h6>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
          
        </div>
        <div class="col-3">
            <p>Follow us on social media for special offers</p>
                <a href="https://www.facebook.com/" class="white-text"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://twitter.com/" class="white-text"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="https://uk.linkedin.com/" class="white-text"><i class="fab fa-linkedin fa-2x"></i></a>
                <a href="https://google.com/" class="white-text"><i class="fab fa-google-plus fa-2x"></i></a>
                <a href="https://www.pinterest.co.uk/" class="white-text"><i class="fab fa-pinterest fa-2x"></i></a>
        </div>
        <div class="col-sm-3">
            <h6>Contact us</h6>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
         
        </div>
    </div>
</div>
</div>