<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'RR_home' %}">
               Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'all_products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
              <!--  <a href="{% url 'all_products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>-->
                <a href="{% url 'all_products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'all_products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Girls Section
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Hudis</a>
                <a href="" class="dropdown-item">Shirts</a>
                <a href="" class="dropdown-item">Face Coverings</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Boys Section
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Hudis</a>
                <a href="" class="dropdown-item">Shirts</a>
                <a href="" class="dropdown-item">Face Coverings</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Ladies Section
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'all_products' %}?category=ladies_dresses" class="dropdown-item">Dresses</a>
                <a href="{% url 'all_products' %}?category=ladies_suits" class="dropdown-item ">Suits</a>
                <a href="{% url 'all_products' %}?category=coats&jackets" class="dropdown-item ">Coats & Jackets</a>
                <a href="{% url 'all_products' %}?category=sweaters&cardigans" class="dropdown-item">Sweaters & Cardigans</a>
                <a href="{% url 'all_products' %}?category=ladies_jeans" class="dropdown-item">Jeans</a>
                <a href="{% url 'all_products' %}?category=ladies_tops" class="dropdown-item">Tops</a>
                <a href="{% url 'all_products' %}?category=ladies_shirts" class="dropdown-item">Shirts</a>
                <a href="{% url 'all_products' %}?category=ladies_scarves" class="dropdown-item">Head Scarf</a>
                <a href="{% url 'all_products' %}?category=ladies_lingeries" class="dropdown-item">Lingeries</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Gents Section
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'all_products' %}?category=ladies_dresses" class="dropdown-item">Dresses</a>
                <a href="{% url 'all_products' %}?category=ladies_suits" class="dropdown-item ">Suits</a>
                <a href="{% url 'all_products' %}?category=coats&jackets" class="dropdown-item ">Coats & Jackets</a>
                <a href="{% url 'all_products' %}?category=sweaters&cardigans" class="dropdown-item">Sweaters & Cardigans</a>
                <a href="{% url 'all_products' %}?category=ladies_jeans" class="dropdown-item">Jeans</a>
                <a href="{% url 'all_products' %}?category=ladies_tops" class="dropdown-item">Tops</a>
                <a href="{% url 'all_products' %}?category=ladies_shirts" class="dropdown-item">Shirts</a>
                <a href="{% url 'all_products' %}?category=ladies_scarfs" class="dropdown-item">Head Scarf</a>
                <a href="{% url 'all_products' %}?category=ladies_lingeries" class="dropdown-item">Lingeries</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Arrivals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'all_products' %}?product=ladies_tops" class="dropdown-item">Ladies Tops</a>
                <a href="" class="dropdown-item">Alter Jeans</a>
                <a href="" class="dropdown-item">Fancy Shirts</a>
                <a href="" class="dropdown-item">Shoes</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">30% Off Product for Girls</a>
                <a href="" class="dropdown-item">30% Off Product for Boys</a>
                <a href="" class="dropdown-item">30% Off Product for Ladies</a>
                <a href="" class="dropdown-item">30% Off Product for Gents</a>
            </div>
        </li>
    </ul>
</div>
<!-- -->