<form method="post" action="?q=selectvariant" id="post-color">
    {% csrf_token %}
    <div id="appendHere">
        <input type="hidden" name="size" id="size" value="{{ size_id }}">
        <ul class="color-option" >
            <li><span class="text-uppercase">Size:</span></li>
            {% for rs in sizes %}
                <input type="radio"  {% if variant.id == rs.id %} checked {% endif %} 
                name="variantid" 
                id="variantid" 
                value="{{ rs.id }}" 
                onchange="this.form.submit();">

                <li  {% if variant.id == rs.id %} class="active" {% endif %}>
                    <a style=" color: #204d74;  width: 90px">
                        {{ rs.size }}  ${{ rs.price }}
                    </a>
                </li>                                                                    
            {% endfor %}
            {% if product.discount_30_percent == 1  %}
            <br><br>            
            <li>      
                <p class="lead mb-2 text-left">
                    30% Discount<strong>Product price: ${{ variant.percent_30_discount|floatformat:2 }}</strong>                  
                </p>   
            </li>  
                      
            {% endif %}
        </ul>
    </div>
</form>
