{% extends "base.html" %}
{% load static %}
{% block extra_css %}
 <!--This code is from http://sachinchoolur.github.io/lightslider/examples.html-->
    <link rel="stylesheet" href="{% static 'css/lightslider.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section id="hero-section">
    <div class="hero-section">
        <div class="col-md-6 col-lg-6 col-11 mx-auto my-auto search-box">
            <h1 class="display-1 logo-font text-white text-center mb-5">
                        R-Ryan Cloth
            </h1>
             <script>
                $(function() {
                    $("#q").autocomplete({
                        source: "{% url 'search_auto' %}",
                        select: function (event, ui) { //item selected
                            AutoCompleteSelectHandler(event, ui)
                        },
                        minLength: 2,
                    });
                });
                function AutoCompleteSelectHandler(event, ui)
                {
                    var selectedObj = ui.item;
                    console.log("selectedObj")
                }
            </script>
            <form method="GET" action="{% url 'all_products' %}">
                <div class="input-group form-contianer mt-5">
                    <input type="text" id="q" name="q" class="form-control search-input" placeholder="search" autofocus autocomplete="off">
                    <button class="btn btn-danger">Search</button>
                </div>
            </form>
        </div>
    </div>
</section>

<section id="explore-new-trend-section" class="slider mt-5">

    <div class="container">
        <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Explore New Trends</h1>
            <p class="mt-1 p-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur maiores, 
            magni eaque fugit nam accusantium earum eos, commodi odit eveniet quibusdam impedit
             debitis praesentium, aliquam quod sint possimus libero error!
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur maiores, 
            magni eaque fugit nam accusantium earum eos, commodi odit eveniet quibusdam impedit
             debitis praesentium, aliquam quod sint possimus libero error!</p>

        <ul id="autoWidth" class="cs-hidden">
        {% for item in products_slider %}
            <li class="item-a">
                <div class="box">            
                <div class="slide-img">
                    <img src="{{ item.image.url }}" alt="" style="height: 200px">
                    <div class="overlay_for_product_slider">
                        <a href="" class="buy-btn">Buy Now</a>
                    </div>
                </div>
                <div class="detail-box">
                    <div class="type">
                        <a href="">{{ item.title }}</a>
                        <span>{{ item.category }}</span>                    
                    </div>
                    <a href="" class="price">{{ item.price }}</a>
                </div>                
            </div>
            </li>
        {% endfor %}
            
           
                     
        </ul>
    </div>
    </div>
    </div>
</section> 

<section id="discount-jumbotron" >
        <div class="container-fluid">   
            <div class="row align-items-center discount-background">
                <div class="col-sm-4 col-md-6">
                    <h1 class="display-4">Get 30% OFF Discount </h1>
                    <p class="lead d-none d-lg-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis 
                    tenetur omnis facilis debitis delectus esse, exercitationem consequuntur est expedita 
                    eius maiores facere, voluptatibus nostrum provident eaque autem laudantium accusamus! 
                    Assumenda saepe dolore at magni delectus, eaque vero accusantium aliquam explicabo in 
                    aspernatur enim dolorem doloribus laboriosam voluptate, cum minus quidem.</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">CHECKOUT NOW</a>
                </div>
            </div>
        </div>
</section>

<section id="happening-events" class="happening-events-background mt-5">
    <div class="text-center mt-4 happening-events-custom-container">
 
    <div class="text-white">
      <h1>Happening Events</h1>
      <h2>Explore Fashion Week World Wide</h2>
      <a href="" class="btn btn-danger">Click to know</a>

    </div>

</div>
</section>

<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Explore Diffrent Categories</h1>
                <p class="mt-1 p-3 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur maiores, 
                    magni eaque fugit nam accusantium earum eos, commodi odit eveniet quibusdam impedi
                </p><hr>
            </div>
            <div class="col-sm-4">
                <div class="card bg-dark text-black">
                    <img src="{{ latest_product_1.image.url }}" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title">{{ latest_product_1.title }}</h5>
                        <p class="card-text">{{ latest_product_1.description }}</p>
                        <p class="card-text">${{ latest_product_1.price }}</p>                                          
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-primary">Product details</a>
                    </div>
                </div>
            </div>
            <div class="col sm-8 m-2">
                <div class="row">
                    <div class="col-sm-6 mb-1">
                        <div class="card bg-dark text-black">
                            <img src="{{ latest_product_2.image.url }}" class="card-img" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title">{{ latest_product_2.title }}</h5>
                                <p class="card-text">{{ latest_product_2.description }}</p>
                                <p class="card-text">${{ latest_product_3.price }}</p>                                          
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-primary">Product details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card bg-dark text-black">
                            <img src="{{ latest_product_3.image.url }}" class="card-img" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title">{{ latest_product_3.title }}</h5>
                                <p class="card-text">{{ latest_product_3.description }}</p>
                                <p class="card-text">${{ latest_product_3.price }}</p>                                          
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-primary">Product details</a>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="row">
                    <div class="col-sm-6 ">
                        <div class="card bg-dark text-black">
                            <img src="{{ latest_product_4.image.url }}" class=" img-fluid" height="auto" width="100%" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title">{{ latest_product_4.title }}</h5>
                                <p class="card-text">{{ latest_product_4.description }}</p>
                                <p class="card-text">${{ latest_product_4.price }}</p>                                          
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-primary">Product details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card bg-dark text-black">
                            <img src="{{ latest_product_5.image.url }}" class="card-img" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title">{{ latest_product_5.title }}</h5>
                                <p class="card-text">{{ latest_product_5.description }}</p>
                                <p class="card-text">${{ latest_product_5.price }}</p>                                          
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-primary">Product details</a>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>

<section id="image-gallery" class="p-4 mt-4 text-center mb-4 pb-4">
    <div class="container image-gallery border-top border-bottom border-dark text-center mb-4">
        <div class="row" style="margin-bottom: 100px">
            <div class="col-sm-8">                
                <ul id="imageGallery">
                {% for image in images %}
                    <li data-thumb="{{ image.image.url }}" data-src="{{ image.image.url }}">
                        <img src="{{ image.image.url }}" height="200px"/>
                    </li>
                {% endfor %}
                </ul>
            </div>
            
            <div class="col-sm-4">
                <div class="row" style="max-width: 300px;">
                    <div class="col-sm-12 mt-2 col-centered">
                        <h3>{{ product.title }}</h3>
                        <p>{{ product.description }}</p>
                    </div>
                    <div class="col-sm-12 col-centered">
                        <h3>${{ product.price }}</h3>
                        {% if product.variant == 'Size' %}
                        <p>Sizes are aviliable</p>
                        {% elif product.variant == 'Size-Color' %}
                        <p>Diffrent Size and colours are aviliable</p>
                         {% elif product.variant == 'Color' %}
                         <p>Diffrent colours are aviliable</p>
                        {% endif %}
                    </div>
                    <div class="col-sm-12 col-centered">                        
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">View Product details</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<section class="p-4 mt-4 text-center" style="height: 100vh;"><hr>
<div class="container">
<h1 style="margin-bottom: 100px;">map</h1>
    <div class="row">
        <div class="col-12">
            <div id="map" style="height: 50vh;"></div>
        </div>
    </div>
</div>
</section>

{% endblock %}
{% block extra_js %}
    
  <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 3,
                center: {
                    lat: 46.619261,
                    lng: -33.134766
                }
            });
        }
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdGYP5F_bOWAQp1hyjCA5kNKvYUU57fvw"></script>
      
        
  
  <!--This code is from http://sachinchoolur.github.io/lightslider/examples.html-->
    <script type="text/javascript" src="{% static 'js/lightslider.js' %}"></script>
    <script>
    $(document).ready(function() {
        $('#autoWidth').lightSlider({
            autoWidth:true,
            loop:true,
            onSliderLoad: function() {
                $('#autoWidth').removeClass('cS-hidden');
            } 
        });
        $('#imageGallery').lightSlider({
            gallery:true,
            item:1,
            loop:true,
            thumbItem:9,
            slideMargin:0,
            enableDrag: false,
            currentPagerPosition:'left',
            onSliderLoad: function(el) {
                el.lightGallery({
                    selector: '#imageGallery .lslide'
                });
            }   
        });  
  });
  </script>

  <!-- Image gallery Image Change Function-->
{% endblock %}