{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Editing a Variant</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'all_products' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Update Variant</button>
                    </div>
                </form>
            </div>            
        </div>
        <div class="row mb-4">
                {% if product.variant == 'Color' or product.variant == 'Size-Color' %}
                    <a type="button" class="btn btn-dark m-2 btn-lg" data-toggle="modal" data-target="#colorModal" data-whatever="@mdo">Color Management</a>
                {% include 'products/modals_includes/add_color_modal.html' %}
                 {% endif %}        
                {% if product.variant == 'Size' or product.variant == 'Size-Color' %}
                        <a type="button" class="btn btn-dark m-2 btn-lg" data-toggle="modal" data-target="#sizeModal" data-whatever="@mdo">Add new Size</a>
                    {% include 'products/modals_includes/add_size_modal.html' %}
                {% endif %}
        </div>
        
                    
       
            
    </div>
{% endblock %}