{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Editing a Variant</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form class="form mb-2" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Variant Title</label>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="form-group">
                        <label for="color">Variant Color</label>
                        <input type="text" class="form-control" name="color">
                    </div>
                    <div class="form-group">
                        <label for="size">Variant Size</label>
                        <input type="text" class="form-control" name="size">
                    </div>
                
                    <div class="col">
                            <h6><label for="size">Options for Variant Image</label></h6>
                        {% for image in images %}
                        <div class="form-check form-check-inline">
                            
                            <input class="form-check-input" type="radio" name="exampleRadios" id="{{ image.id }}" value="{{ image.id }}" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                <img src="{{ image.image.url }}" class=" img-thumbnail rounded float-left" style="height:120px;">
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="size">Product quantity</label>
                        <input type="number" class="form-control" name="quantity" min="0" >
                    </div>
                    <div class="form-group">
                        <label for="size">Product price</label>
                        <input type="number" class="form-control" name="price" min="0">
                    </div>
                <button>Submit</button>
                </form>
                
            </div>            
        </div>
        <div class="row">
           
                
        </div>
    </div>
{% endblock %}