{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container mt-5">
        <div class="row mt-2">
            <div class="col mt-2">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Product Management Section -->
         <div class="col-12 col-md-12">
            <h2 class="mb-4">Product Management</h2><hr>
            <a class="btn btn-large btn-dark m-2" href="">Add New Product</a>
        </div>
         <div class="col-12 col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Product Id</th>
                        <th scope="col">Product Image</th>
                        <th scope="col">Product Title</th>
                        <th scope="col">Functions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{product.id}}{{variant.id}}</th>
                        <td><img class="rounded mx-auto d-block" height="100" src="{{ product.image.url }}" alt="Card image cap"></td>
                        <td>{{product.title}}</td>
                        <td>
                            {% if product.has_variant == 1 %}
                                <a class="btn btn-large btn-dark m-2" href="{% url 'edit_product_with_variant' product.id  %}">Edit{{variant.id}}</a>
                            {% else %}
                           
                            <a class="btn btn-large btn-dark m-2" href="{% url 'edit_product_without_variant' product.id variant.id %}">Edit{{variant.id}}</a>
                            {% endif %}
                            <a class="btn btn-large btn-danger m-2" href="{% url 'delete_product' product.id %}">Delete</a>
                        </td>
                    </tr>

                </tbody>
                </table>
        </div>
    </div>
    <div class="row">
         <div class="col-12 col-md-12">
            <h2 class="mb-4">Image Management</h2><hr>            
        </div>
        <!-- Images Management  Section -->
        <div class="col-12 col-md-12">
            <div class="col-12 col-md-6 pl-4">
            <h5>Add new product image:</h5><hr>
            <form method="POST" action="" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ image_form | crispy }}
                   <button class="btn btn-dark" type="submit">Add Image</button>                
            </form>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Image Id</th>                        
                        <th scope="col">Image Title</th>
                        <th scope="col">Product Images</th>
                        <th scope="col">Functions</th>
                    </tr>
                </thead>
                <tbody>
                {% for image in images %}
                    <tr>
                        <th scope="row">{{ image.id }}</th>                        
                        <td>{{product.title}}</td>
                        <td><img class="rounded mx-auto d-block" height="100" src="{{ image.image.url }}" alt="Card image cap"></td>
                        <td>
                            <a class="btn btn-large btn-danger m-2" href="{% url 'delete_image' image.id %}">Delete Image</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="row">
        <!-- Variant Management Section -->
         {% if product.has_variant == 1 %}
        <div class="col-12 col-md-12">
            <hr>
            <h3>Variant Management</h3>
            <hr>
            <a class="btn btn-dark m-2" href="{% url 'add_variant' product.id %}">Add Variant</a>
        </div>
        <div class="col-12 col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">Variant Id</th>
                    <th scope="col">Variant Name</th>
                    
                    {% if product.variant == "Size" %}
                        <th scope="col">Variant Size</th>
                    {% elif product.variant == "Color" %}
                        <th scope="col">Variant Color</th>
                    {% elif product.variant == "Size-Color" %}
                        <th scope="col">Variant Size-Color</th>
                    {% endif %}
                    <th scope="col">Variant Price</th>
                    <th scope="col">Variant Quantity</th>
                    
                    <th scope="col">Functions</th>
                    </tr>
                </thead>
                <tbody>
                {% for v in variants %}
                    <tr>
                        
                            <th scope="row">{{v.id}}</th>
                            <td>{{v.title}}</td>
                            {% if product.variant == "Size" %}
                                <td>{{ v.size }}</td>
                            {% elif product.variant == "Color" %}
                                <td>{{ v.color }}</td>
                            {% elif product.variant == "Size-Color" %}
                                <td>{{ v.size }}-{{ v.color }}</td>
                            {% endif %}
                            <td>${{v.price}}</td>
                            <td>{{v.quantity}}</td>
                        <td>
                            <a class="btn btn-large btn-dark m-2" href="{% url 'edit_variant' product.id v.id %}">Edit</a>
                            <a class="btn btn-large btn-danger m-2" href="{% url 'delete_variant' v.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>               
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
