{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Product Management Section -->
         <div class="col-sm-12 col-md-12">
            <h2 class="mb-4">Product Management</h2>
            <hr class="home-page-heading-hr-top">            
        </div>
         <div class="col-sm-12 col-md-12 mt-2">
            <h3>Product Information:</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Product Id</th>
                        <th scope="col">Product Image</th>
                        <th scope="col">Product Title</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{product.id}}</th>
                        <td><img class="rounded mx-auto d-block image-thumbnail-border" height="100" src="{{ product.image.url }}" alt="Card image cap"></td>
                        <td>{{product.title}}</td>
                        <td>
                            {% if product.has_variant == 1 %}
                                <a class="btn btn-sm btn-dark m-2" href="{% url 'edit_product_with_variant' product.id  %}">Edit Product</a>
                            {% else %}                           
                            <a class="btn btn-sm btn-dark m-2" href="{% url 'edit_product_without_variant' product.id variant.id %}">Edit</a>
                            {% endif %}
                            
                            <button type="button" class="btn btn-sm secondary-button m-2" data-toggle="modal" data-target="#delete_product{{product.id}}">
                                Delete Product
                            </button>
                            <div class="modal" tabindex="-1" id="delete_product{{product.id}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{ product.title }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete {{ product.title }}. All variant and images inforamtion will be deleted with it.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a class="btn btn-large btn-danger m-2" href="{% url 'delete_product' product.id %}">Delete</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
         <div class="col-12 col-md-12">
            <h3 class="mb-4">Product Image/Images:</h3><hr>            
        </div>
        <!-- Images Management  Section -->
        <div class="col-12 col-md-12 ">
            <div class="col-12 col-md-6 pl-4 pt-2 bg-light mb-5" >
                <h5 class="bg-dark p-2" style="color:#fff;">Add new product image:</h5><hr>
                <form method="POST" action="" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ image_form | crispy }}
                    <button class="btn btn-xl primary-button" type="submit" style="float: right;">Add an Image</button><br>           
                </form><br>
            </div>
            <hr>
            <h3>Image/Images Added to Product:</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Image Id</th>                        
                        <th scope="col">Image Title</th>
                        <th scope="col">Product Images</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {% for image in images %}
                    <tr>
                        <th scope="row">{{ image.id }}</th>                        
                        <td>{{image.title}}</td>
                        <td><img class="rounded mx-auto d-block image-thumbnail-border" height="100" src="{{ image.image.url }}" alt="Card image cap"></td>
                        <td>
                          
                            <a class="btn btn-sm btn-dark m-2" href="{% url 'edit_image' image.id %}">Edit Image</a>
                            
                            <button type="button" class="btn btn-sm secondary-button btn-danger m-2" data-toggle="modal" data-target="#delete_product{{image.id}}">
                                Delete Image
                            </button>
                            <div class="modal" tabindex="-1" id="delete_product{{image.id}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{ image.title }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete image {{ image.title }}.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                       <a class="btn btn-large btn-danger m-2" href="{% url 'delete_image' image.id %}">Delete</a>   
                                    </div>
                                    </div>
                                </div>
                            </div>                         
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    {% if product.has_variant == 1 %}
    <div class="row">
        <!-- Variant Management Section -->
        
        <div class="col-12 col-md-12">
            <hr>
         
            <div class="col-6">
                <h3>Product Variants</h3>
            </div>
            <div class="col-6">
                <a class="btn btn-xl primary-button m-2" href="{% url 'add_variant' product.id %}" >Add a New Variant</a>
            </div>           
            <hr>            
        </div>
        <div class="col-12 col-md-12">
            <h3>Variant Information:</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">Variant Id</th>
                    <th scope="col">Variant Name</th>
                    <th scope="col">Variant Image Id</th>
                    {% if product.variant == "Size" %}
                        <th scope="col">Variant Size</th>
                    {% elif product.variant == "Color" %}
                        <th scope="col">Variant Color</th>
                    {% elif product.variant == "Size-Color" %}
                        <th scope="col">Variant Size-Color</th>
                    {% endif %}
                    <th scope="col">Variant Price</th>
                    <th scope="col">Variant Quantity</th>
                    
                    <th scope="col">Functions</th>
                    </tr>
                </thead>
                <tbody>
                {% for v in variants %}
                    <tr>                        
                            <th scope="row">{{v.id}}</th>
                            <td>{{v.title}}</td>
                            {% if v.image_id %} 
                            <td>
                            <img class="rounded mx-auto d-block image-thumbnail-border" height="100" src="{{ v.image }}" alt="Please check if image id is correct.">
                            </td>
                            {% else %}
                            <td>
                            <small>Please give an image id to variant, <br> to dispaly image with varaint.</small>
                            </td>
                            {% endif %}
                            {% if product.variant == "Size" %}
                                <td>{{ v.size }}</td>
                            {% elif product.variant == "Color" %}
                                <td>{{ v.color }}</td>
                            {% elif product.variant == "Size-Color" %}
                                <td>{{ v.size }}-{{ v.color }}</td>
                            {% endif %}
                            <td>${{v.price}}</td>
                            <td>{{v.quantity}}</td>
                        <td>
                            <a class="btn btn-sm btn-dark m-2" href="{% url 'edit_variant' product.id v.id %}">Edit Varaint</a>
                            <button type="button" class="btn btn-sm secondary-button m-2" data-toggle="modal" data-target="#delete_variant{{ v.id }}">
                                Delete Variant
                            </button>
                            <div class="modal" tabindex="-1" id="delete_variant{{ v.id }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{ v.title }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete {{ v.title }}.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a class="btn btn-large btn-danger m-2" href="{% url 'delete_variant' v.id %}">Delete</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>               
        </div>
     
    </div>
    {% endif %}
    <a href="{% url 'product_detail' product.id %}" class="btn primary-button btn-lg mb-5 float-right m-2"><i class="far fa-arrow-alt-circle-left"></i> Back to Product Detail Page</a>
    <a href="{% url 'all_products' %}" class="btn primary-button btn-lg mb-5 float-right m-2">View All Products</a>
</div>

{% endblock %}
